fastapi==0.110.0
uvicorn==0.22.0
python-jose==3.3.0
passlib==1.7.4
bcrypt==4.0.1
python-multipart==0.0.6
sqlalchemy==2.0.15
alembic==1.11.1
pydantic==2.5.3
python-socketio==5.8.0
python-dotenv==1.0.0
geohash==1.0
redis==4.5.5
email-validator
